@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 128, 255, 219;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: Arial, Helvetica, sans-serif, "Inter";
}


.gm-style-iw-c {
  background: black !important;  
  padding: 0 !important;
  border-radius: 8px !important;
  max-width: 250px !important;
}

.gm-style-iw-t::after {
  background: none !important;
  display: none !important;
}


.gm-ui-hover-effect {
  filter: invert(63%) sepia(66%) saturate(312%) hue-rotate(84deg) brightness(92%) contrast(98%) !important;
  background: none !important;
  border: none !important;
}


.gm-style-iw-d {
  overflow: hidden !important;
  background: black !important;
  color: white !important;
  padding: 0 !important;
}
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}